body {
  overflow: hidden;
}

#git {
 top: 50%;
}

#container, #stats, #word-cloud, #bubble-chart {
  z-index: 1;
}

#chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}

.reactContainer {
   top: 0; right: 0; bottom: 0; left: 0;
 }


.hidden {
  display: none;
}

.selected {
  fill: red;
  stroke: brown;
}

.line {
  stroke-width: 4px;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #E5E7E9;
  color: black;
  border-radius: 6px;
  pointer-events: none;
  font-family: 'Open Sans', sans-serif;
 }

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #E5E7E9;
  position: absolute;
  pointer-events: none;
}

.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/*https://perishablepress.com/perfect-pre-tags/*/
pre {
  max-width: 300px;                      /* specify width  */
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;                 /* IE 5.5+ and up */
  overflow: hidden;
}

.dateText {
  font-size: 8; /* doesn't work */
}

/**
 *  For Chart.js
 */

 #charts {
   padding: 10px 0;
 }

 .chart {
   display: inline-block;
   height: 151px;
   margin-bottom: 20px;
 }

 .reset {
   padding-left: 1em;
   font-size: smaller;
   color: #ccc;
 }

 .background.bar {
   fill: #ccc;
 }

 .foreground.bar {
   fill: rgb(0, 188, 212);
 }

 .axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .axis text {
   font: 10px sans-serif;
 }

 .brush rect.extent {
   fill: steelblue;
   fill-opacity: .125;
 }

 .brush .resize path {
   fill: #eee;
   stroke: #666;
 }

 #hour-chart {
   width: 450px;
 }

 #weekday-chart {
   width: 370px;
 }

 #date-chart {
   width: 920px;
 }

 #commit-list {
   min-height: 1024px;
 }

 #commit-list .date,
 #commit-list .day {
   margin-bottom: .4em;
 }

 #commit-list .commit {
   line-height: 1.5em;
   background: #eee;
   width: 1000px;
   margin-bottom: 1px;
 }

 #commit-list .time {
   color: #999;
 }

 #commit-list .commit div {
   display: inline-block;
   width: 100px;
 }
 #commit-list div.author {
   width: 200px;
 }
 #commit-list div.sha-link{
   width: 200px;
 }
 #commit-list div.commit-message {
   width: 500px;
   padding-right: 10px;
   text-align: left;
 }

 #commit-list .early {
   color: green;
 }

 aside {
   position: absolute;
   left: 740px;
   font-size: smaller;
   width: 220px;
 }

 /**
  * End of Chart.js Styles
  */

  .contrib-content {
    padding: 5px 5px 5px 5px;
  }

  .tooltip {
  	position: absolute;
  	top: 100px;
  	left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: solid gray 1px;
    background: #fff;
  	opacity: .9;
    color: black;
  	padding: 10px;
  	width: 200px;
  	font-size: 12px;
    /*padding: 5px 5px 5px 5px;*/
  	z-index: 10;
  }

  .tooltip .title {
  	font-size: 13px;
  }

  .tooltip .name {
    font-weight:bold;
  }

  .img-url {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

/* Loading Icon */

  #loading {
    z-index: 20;
    position: absolute;
    top: 20;
    left: 20;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  .loading-gif {
    align: middle;
    margin: auto;
    margin-top: 6em;
    display: block;
  }
